@model List<DrugStore_Web.Models.Category>
@{
    ViewBag.Title = "GetAllCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> All Category : </h2>
<table class="table ">
    <tr>
        <th>CategoryID</th>
        <th>Category Name:</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
    }
</table>
